{% extends 'base.html' %}

    {% block content %}

      {% if user.is_authenticated  %}
 <meta http-equiv="refresh" content="3; URL=/player/auction?num1={{s.player_name}}&inc=no">
 {% else %}
 <meta http-equiv="refresh" content="3; URL=/player/details?num1={{s.player_name}}&inc=no">

 {% endif %}



<script type="text/javascript"
    src="http://code.jquery.com/jquery-1.10.1.min.js">
</script>

<script>
var today, someday;
today = new Date();
someday = new Date();
someday.setMinutes(today.getMinutes()+2);


var countDownDate = new Date("{{s.date}} {{s.hour}}:{{s.minite}}:{{s.second}}").getTime();
var x = setInterval(function() {


  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  if (distance <= 0) {
    clearInterval(x);
    document.getElementById("b1").disabled=true;
    document.getElementById("demo").innerHTML="Expired";
    location.replace("/player/sold?num1={{s.player_name}}")

  }
}, 1000);
</script>

<!--
  <meta http-equiv="refresh" content="1"/>
-->
<h1>Player Name :-  {{s.player_name}} </h1>
<br>
    
<!--
<script>
    $(document).ready(
            function() {


                setInterval(function() {
                    var randomnumber = Math.floor(Math.random() * 100);
                  {% if reload == "yes" %}                       
                              myFunction2();                       
                  {% endif %}
                    
                }, 1000);
            });
</script>
 -->   

 <table style="width:50%">
  <tr>
    
  </tr>
  
  
  <tr>
    <td rowspan="10">
      <img src="{{ s.image.url }}" alt="Online Auction"  height="350" width="600">
    </td>
    <td> 

    </td>
  </tr>

  <tr>
    <td>   
            <br>
            Base Price {{ s.base_price}}
            <br>
            Raising Price {{ s.raising_price}}
            <br>
            Selling Team Name :=  {{ s.sell_teamName }}
            <br>
            Selling Price {{ s.sell_price}}
            
                 
    </td>
  </tr>
  <tr>
      <td>
        Time Reamaning<div id="show">
        <p id="demo"></p>
      </td>
  </tr>
  <tr>
    <td>
    {% if user.is_authenticated %}
      {% if v.pla_auc == 'yes' %}
      <button id="b1" onclick="myFunction()" class="btn btn-success" >Raise Price</button>
      {% endif %}
      
    {% else %}
      <button id="b1" onclick="myFunction()" hidden>Raise Price</button>
    {% endif %}

    </td>
  </tr>
</table>

 <button id="b2" hidden onclick="myFunction2()" >Reload  Price</button>
           

<script>
function myFunction() {
  location.replace("/player/auction?num1={{s.player_name}}&inc=yes");
}
function myFunction1() {
  location.replace("/player/auction?num1={{s.player_name}}&inc=yes");
}
function myFunction2() {
  location.replace("/player/auction?num1={{s.player_name}}&inc=no");
}
</script>

 
        
{% endblock %}