{% extends 'base.html' %}

{% block content %}
Your  Players
Batsman
 <table class="table  table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Role</th>
        <th>BasePrice</th>
        <th>Status</th>
        <th>SellPrice</th>
        <th>Sell TeamName</th>
      </tr>
    </thead>
    <tbody>
    {% for p in s1 %}
      <tr>
        <td>{{p.player_name}}</td>
        <td>{{p.player_country}}</td>
        <td>{{p.player_role}}</td>
        <td>{{p.base_price}}</td>
        <td>{{p.status}}</td>
        <td>{{p.sell_price}}</td>
        <td>{{p.sell_teamName}}</td>

      </tr>
     {% endfor %}
    </tbody>
  </table>
Bowlers
 <table class="table  table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Role</th>
        <th>BasePrice</th>
        <th>Status</th>
        <th>SellPrice</th>
        <th>Sell TeamName</th>
      </tr>
    </thead>
    <tbody>
    {% for p in s2 %}
      <tr>
        <td>{{p.player_name}}</td>
        <td>{{p.player_country}}</td>
        <td>{{p.player_role}}</td>
        <td>{{p.base_price}}</td>
        <td>{{p.status}}</td>
        <td>{{p.sell_price}}</td>
        <td>{{p.sell_teamName}}</td>

      </tr>
     {% endfor %}
    </tbody>
  </table>
  AllRounder
 <table class="table  table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Role</th>
        <th>BasePrice</th>
        <th>Status</th>
        <th>SellPrice</th>
        <th>Sell TeamName</th>
      </tr>
    </thead>
    <tbody>
    {% for p in s3 %}
      <tr>
        <td>{{p.player_name}}</td>
        <td>{{p.player_country}}</td>
        <td>{{p.player_role}}</td>
        <td>{{p.base_price}}</td>
        <td>{{p.status}}</td>
        <td>{{p.sell_price}}</td>
        <td>{{p.sell_teamName}}</td>

      </tr>
     {% endfor %}
    </tbody>
  </table>
        
{% endblock %}